{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Weather Manager</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <link href="{% static 'css/custom.css' %}" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="{% url 'home_page_view' %}">Weather Manager</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Core</div>
                            <a class="nav-link" href="{% url 'home_page_view' %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Dashboard
                            </a>
                            {% if request.user.is_authenticated %}
                                <a class="nav-link" href="{% url 'favourite_location' %}">
                                    <div class="sb-nav-link-icon"><i class="fas fa-umbrella"></i></div>
                                    Favourite location
                                </a>
                            {% endif%}

                            {% if not request.user.is_authenticated %}
                            <div class="sb-sidenav-menu-heading">Account</div>
                            <a class="nav-link" href="{% url 'register' %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-moon"></i></div>
                                Register
                            </a>
                            <a class="nav-link" href="{% url 'login' %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-sun"></i></div>
                                Log in
                            </a>
                            {% endif %}
        
                            {% if request.user.is_authenticated %}
                                <div class="sb-sidenav-menu-heading">Weather data</div>
                                <a class="nav-link" href="{% url 'historical_weather' %}">
                                    <div class="sb-nav-link-icon"><i class="fas fa-snowflake"></i></div>
                                    History
                                </a>
                                <a class="nav-link" href="{% url 'forecast_weather' %}">
                                    <div class="sb-nav-link-icon"><i class="fas fa-bolt-lightning"></i></div>
                                    Forecast
                                </a>
                            {% endif%}

                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        {% if request.user.is_authenticated %}
                        <div class="small">Logged as <b>{{ request.user.username }}</b></div>
                            You can  <a href="{% url 'logout' %}">log out</a>
                        {% else %}
                            <div class="small">Logged out</div>
                            You can  <a href="{% url 'login' %}">log-in again</a>
                        {% endif %}
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                {% block content %}
                {% endblock content %}
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Artur Zacniewski</div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'js/scripts.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="{% static 'js/datatables-config.js' %}"></script>
    </body>
</html>
