{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Dashboard</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Default location - {{ default_location }}</li>
            </ol>

            <div class="row d-flex justify-content-center align-items-center h-50">

              <div class="col-xl-3 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="mb-4">More information:</h4>
                        <p>Latitude: <strong>{{ default_weather_data.location.lat }}&deg</strong></p>
                        <p>Longitude: <strong>{{ default_weather_data.location.lon }}&deg</strong></p>

                        <p>Local time: <strong>{{ default_weather_data.location.localtime }}</strong></p>
                        <p>Pressure: <strong>{{ default_weather_data.current.pressure_mb }} hPa</strong></p>
                        <p>Wind speed: <strong>{{ default_weather_data.current.wind_kph }} km/h</strong></p>
                        <p>Wind direction: <strong>{{ default_weather_data.current.wind_dir }}</strong></p>
                        <p>Timezone: <strong>{{ default_weather_data.location.tz_id }}</strong></p>
                        <p>Cloudiness: <strong>{{ default_weather_data.current.cloud }}%</strong></p>
                        <p>Humidity: <strong>{{ default_weather_data.current.humidity }}%</strong></p>
                        <p>Precipitation: <strong>{{ default_weather_data.current.precip_mm }} mm</strong></p>

                        <div class="d-flex flex-row align-items-center">
                              <p class="mb-0 me-4">Condition:</p>
                              <img src="https:{{ default_weather_data.current.condition.icon }}"/>
                        </div>
                    </div>
                </div>
              </div>
                <div class="col-xl-6 mb-4">
                    <div class="card bg-dark text-white">
                      <div class="bg-image" style="border-radius: 135px;">
                        <img src="{% static 'assets/img/weather-background.webp' %}"
                          class="card-img" alt="weather" />
                        <div class="mask" style="background-color: rgba(190, 216, 232, .5);"></div>
                      </div>
                      <div class="card-img-overlay text-dark">
                        <h4 class="mb-0">{{ default_location }}, {{ default_weather_data.location.country }}</h4>
                        <p class="display-2 my-3">{{ default_weather_data.current.temp_c }} °C</p>
                        <p class="mb-2">Feels Like: <strong>{{ default_weather_data.current.feelslike_c }} °C</strong></p>
                        <p class="mb-2">Condition: <strong>{{ default_weather_data.current.condition.text }}</strong></p>
                      </div>
                    </div>
                </div>

                <div class="col-xl-3 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="mb-4">More information:</h4>
                            <p>Latitude: <strong>{{ default_weather_data.location.lat }}&deg</strong></p>
                            <p>Longitude: <strong>{{ default_weather_data.location.lon }}&deg</strong></p>

                            <p>Local time: <strong>{{ default_weather_data.location.localtime }}</strong></p>
                            <p>Pressure: <strong>{{ default_weather_data.current.pressure_mb }} hPa</strong></p>
                            <p>Wind speed: <strong>{{ default_weather_data.current.wind_kph }} km/h</strong></p>
                            <p>Wind direction: <strong>{{ default_weather_data.current.wind_dir }}</strong></p>
                            <p>Timezone: <strong>{{ default_weather_data.location.tz_id }}</strong></p>
                            <p>Cloudiness: <strong>{{ default_weather_data.current.cloud }}%</strong></p>
                            <p>Humidity: <strong>{{ default_weather_data.current.humidity }}%</strong></p>
                            <p>Precipitation: <strong>{{ default_weather_data.current.precip_mm }} mm</strong></p>

                            <div class="d-flex flex-row align-items-center">
                                  <p class="mb-0 me-4">Condition:</p>
                                  <img src="https:{{ default_weather_data.current.condition.icon }}"/>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </main>
{% endblock content %}