{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if not historical_weather_data.error %}
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Historical weather</h1>
            <ol class="breadcrumb mb-4">
                {% if query %}
                <li class="breadcrumb-item active">Current location - {{ query }}</li>
                {% else %}
                <li class="breadcrumb-item active">Current location - {{ default_location }}</li>
                {% endif %}
            </ol>
            <form action="{%  url 'historical_weather' %}">
              <div class="row">
                      <span class="form-group d-flex col-xl-6">
                          <input
                                  class="form-control mt-2 mb-3 me-2"
                                  id="query"
                                  name="weather_query"
                                  type="text"
                                  placeholder="Type here: city or latitude, longitude or IP address"
                                  required
                          >
                          <div class="mt-3 mb-3">
                            <button class="btn btn-secondary" type="submit">Search </button>
                          </div>
                      </span>
              </div>
            </form>

            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Historical weather data (past 5 days) -
                    <b><a href="{% url 'chart_historical_data' %}" class="link-primary">look at the chart!</a></b>
                </div>

                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th class="text-center">Date & time</th>
                                <th class="text-center">Condition</th>
                                <th class="text-center">Temp. [&deg;C]</th>
                                <th class="text-center">Humidity [%]</th>
                                <th class="text-center">Wind [km/h] (direction)</th>
                                <th class="text-center">Cloudiness [%]</th>
                                <th class="text-center">Pressure [mPa]</th>
                                <th class="text-center">Precipitation [mm]</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th class="text-center">Date & time</th>
                                <th class="text-center">Condition</th>
                                <th class="text-center">Temp. [&deg;C]</th>
                                <th class="text-center">Humidity [%]</th>
                                <th class="text-center">Wind [km/h] (direction)</th>
                                <th class="text-center">Cloudiness [%]</th>
                                <th class="text-center">Pressure [mPa]</th>
                                <th class="text-center">Precipitation [mm]</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for item in historical_weather_data.forecast.forecastday.0.hour %}
                            <tr>
                                <td class="text-center">{{ item.time }}</td>
                                <td class="text-center"><img src="https:{{ item.condition.icon }}"/></td>
                                <td class="text-center">{{ item.temp_c }}</td>
                                <td>
                                    <div class="row d-flex align-items-center">
                                      <div class="col col-lg-12">
                                          <div class="progress progress-lg mb-0">
                                              <div class="progress-bar bg-danger small fw-bold"
                                                   role="progressbar"
                                                   aria-valuenow="{{ item.humidity }}"
                                                   aria-valuemin="0"
                                                   aria-valuemax="100"
                                                   style="width: {{item.humidity}}%;">
                                                  {{ item.humidity }}%
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                </td>
                                <td class="text-center">{{ item.wind_kph}} ({{ item.wind_dir }})</td>
                                <td>
                                      <div class="row d-flex align-items-center justify-content-center">
                                          <div class="col col-lg-8">
                                              <div class="progress progress-lg mb-0">
                                                  <div class="progress-bar progress-bar-striped bg-warning"
                                                       role="progressbar"
                                                       aria-valuenow="{{ item.cloud }}"
                                                       aria-valuemin="0"
                                                       aria-valuemax="100"
                                                       style="width: {{ item.cloud }}%;">
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="col col-lg-4">
                                              <div class="small fw-bold">{{ item.cloud }}%</div>
                                          </div>
                                      </div>
                                </td>
                                <td class="text-center">{{ item.pressure_mb }}</td>
                                <td class="d-flex justify-content-center">
                                    {% if item.precip_mm > 0 %}
                                        <div class="circle-rain">{{ item.precip_mm }}</div>
                                    {% else %}
                                        <div class="circle-no-rain">{{ item.precip_mm }}</div>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
{% else %}
    <div class="row">
       <div class="col-12 col-xxl-12 mb-4">
            <div class="card border-0 shadow">
                <div class="card-header border-bottom d-flex flex-column align-items-center justify-content-center">
                    <h2 class="fw-bold mb-4 mt-6">Error: {{ historical_weather_data.error.message }}</h2>
                    <span style='font-size:3rem;'>&#9940;</span>
                </div>
                <div class="d-flex align-items-center justify-content-center border-bottom pb-3">
                    <div class="d-flex align-items-center pt-3">
                        <h3>Try <a href="{% url 'historical_weather' %}">again</a> with different place!</h3>

                   </div>
                </div>
            </div>
       </div>
    </div>
{% endif %}
{% endblock content %}