{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Weather forecasting</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Favourite location here ...</li>
            </ol>

            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Historical weather data (past 5 days)
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>Date & time</th>
                                <th>Condition</th>
                                <th>Temp. [&deg;C]</th>
                                <th>Humidity [%]</th>
                                <th>Wind [km/h] (direction)</th>
                                <th>Cloudiness [%]</th>
                                <th>Pressure [mPa]</th>
                                <th>Precipitation [mm]</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>Position</th>
                                <th>Office</th>
                                <th>Age</th>
                                <th>Start date</th>
                                <th>Salary</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for item in historical_weather_data.forecast.forecastday.0.hour %}
                            <tr>
                                <td>{{ item.time }}</td>
                                <td><img src="https:{{ item.condition.icon }}"/></td>
                                <td>{{ item.temp_c }}</td>
                                <td>
                                    <div class="row d-flex align-items-center">
                                      <div class="col col-lg-12">
                                          <div class="progress progress-lg mb-0">
                                              <div class="progress-bar bg-danger small fw-bold"
                                                   role="progressbar"
                                                   aria-valuenow="{{ item.humidity }}"
                                                   aria-valuemin="0"
                                                   aria-valuemax="100"
                                                   style="width: {{item.humidity}}%;">
                                                  {{ item.humidity }}%
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                </td>
                                <td>{{ item.wind_kph}} ({{ item.wind_dir }})</td>
                                <td>
                                      <div class="row d-flex align-items-center">
                                          <div class="col col-lg-8">
                                              <div class="progress progress-lg mb-0">
                                                  <div class="progress-bar progress-bar-striped bg-warning"
                                                       role="progressbar"
                                                       aria-valuenow="{{ item.cloud }}"
                                                       aria-valuemin="0"
                                                       aria-valuemax="100"
                                                       style="width: {{ item.cloud }}%;">
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="col col-lg-4">
                                              <div class="small fw-bold">{{ item.cloud }}%</div>
                                          </div>
                                      </div>
                                </td>
                                <td>{{ item.pressure_mb }}</td>
                                <td>
                                     <div class="row d-flex align-items-center">
                                          <div class="col col-lg-8">
                                              <div class="progress progress-lg mb-0" style="height: {{ item.precip_mm|add:'5'}}px;">
                                                  <div class="progress-bar"
                                                       role="progressbar"
                                                       aria-valuenow="{{ item.precip_mm }}"
                                                       aria-valuemin="0"
                                                       aria-valuemax="100"
                                                       style="width: 100%;">
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="col col-lg-4">
                                              <div class="small fw-bold">{{ item.precip_mm }}</div>
                                          </div>
                                      </div>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}